<form>
  Email:<br>
  <input type="text" name="firstname" value="">
  <br>
  Password:<br>
  <input type="text" name="lastname" value="">
  <br><br>
  <input type="radio" name="category" value="borrower" checked> Borrower<br>
  <input type="radio" name="category" value="shelter"> Shelter<br>
  <input type="radio" name="category" value="owner"> Owner<br><br>  
  <button id="login">Log In</button><br><br>
    <p>OR</p>
    <p>...if you don't have an existing account, please sign up for a new account!</p>
    <button id="signup">Sign Up</button>
</form> 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/home.js"></script>
