<form>
    <div>New Pet Sign Up Form</div>
    <div class="form-group">
        <label for="petNameInput">Name:</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="i.e Fido, Sparky, Spot">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Category" id="radioCat" value="radioCat" checked>
            <label class="form-check-label" for="exampleRadios1">
                Cat
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Category" id="radioDog" value="radioDog">
            <label class="form-check-label" for="exampleRadios2">
                Dog
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Gender" id="radioCat" value="radioMale" checked>
            <label class="form-check-label" for="exampleRadios1">
                Male
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Gender" id="radioDog" value="radioFemale">
            <label class="form-check-label" for="exampleRadios2">
                Female
            </label>
        </div>
        <label for="petNameInput">Name:</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="i.e Fido, Sparky, Spot">

    </div>


</form>