<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/petSignup">
        <button type="button" class="btn btn-secondary">Add Pet</button>
    </a>
    <a href="/results">
        <button type="button" class="btn btn-secondary">View Pet</button>
    </a>
    <a href="/placeholder"> {{!-- This one I did not know where to route to--}}
        <button type="button" class="btn btn-secondary">View Transactions</button>
    </a>
</div>