
 <h1>Options<h1>
<div class="row"><a href="#0" class="btn10">
    <span>Add Pet</span>
    <div class="transition"></div>
</a></div>

<div class="row"><a href="#0" class="btn10">
    <span>View Pets</span>
    <div class="transition"></div>
</a></div>

<div class="row"><a href="#0" class="btn10">
    <span>View Transaction</span>
    <div class="transition"></div>
</a></div>

</div>
