<form>
  Email:<br>
  <input type="text" name="email" value="">
  <br>
  Password:<br>
  <input type="text" name="password" value="">
  <br><br>
  <input type="radio" name="category" value="borrower" checked> Borrower<br>
  <input type="radio" name="category" value="shelter"> Shelter<br>
  <input type="radio" name="category" value="owner"> Owner<br><br> 
  Name:<br>
  <input type="text" name="name" value="">
  <br>
  Street Address:<br>
  <input type="text" name="street-address" value="">
  <br>
  City:<br>
  <input type="text" name="city" value="">
  <br>
  State:<br>
  <input type="text" name="state" value="">
  <br>
  ZIP:<br>
  <input type="text" name="zip" value="">
  <br>
  Phone Number:<br>
  <input type="text" name="phone" value="">
  <br><br>

  <button id="submit-info">Submit</button>
    
</form> 